@charset "UTF-8";

@use "../_partial/config/_mixin" as m;

.mainContents {
  padding: 60px 30px;
}

.pageTitle {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 80px;
}

.section {
  &--level2 {
    margin-bottom: 80px;
  }
  &--level3 {
    margin-bottom: 60px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &--level4 {
    background-color: #eeeeee;
    margin-bottom: 40px;
    padding: 20px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__title {
    &--level2 {
      font-size: 3.6rem;
      border-bottom: 3px solid #dddddd;
      margin-bottom: 60px;
    }
    &--level3 {
      font-size: 2.8rem;
      border-bottom: 1px solid #dddddd;
      margin-bottom: 40px;
    }
    &--level4 {
      font-size: 1.6rem;
      margin-bottom: 20px;
    }
  }
  &__description,
  &__code {
    color: #ffffff;
    background-color: #000000;
    word-break: break-all;
  }
  &__description {
    font-size: 1.6rem;
    margin-bottom: 40px;
    padding: 30px;
  }
  &__code {
    padding: 2px 4px;
  }
}

.border {
  width: 300px;
  height: 50px;
  @include m.border($t:1, $b:4);
  &--dotted {
    @include m.border($t:1, $r:2, $s:do, $c:#4a53bd);
  }
  &--dashed {
    @include m.border($b:3, $l:4, $s:da, $c:#4a53bd);
  }
  @include m.mediaMaxSp {
    width: 100%;
  }
}

.flex {
  &--nowrap {
    @include m.flex;
  }
  &--wrap {
    @include m.flex($fw:w);
  }
  &--justifyCenter {
    @include m.flex($jc:c);
  }
  &--alignCenter {
    @include m.flex($ai:c);
    .flex__item:nth-child(1) {
      height: 100px;
    }
    .flex__item:nth-child(3) {
      height: 200px;
    }
  }
  &__item {
    width: 300px;
    height: 50px;
    background-color: #333333;
    margin: 0px 10px 10px 0px;
  }
}

.hoverOpacity {
  color: #ffffff;
  border-radius: 100px;
  background-color: #4a53bd;
  padding: 10px 30px;
  @include m.hoverOpacity;
  &--duration {
    @include m.hoverOpacity($d:1);
  }
  &--opacity {
    @include m.hoverOpacity($o:0.2);
  }
}

@mixin mediaqueryActiveStyle {
  color: #ffffff;
  border-color: #4a53bd;
  background-color: #4a53bd;
}
.mediaquery {
  width: 100%;
  border: 1px solid #333333;
  padding: 10px;
  &--maxWidth {
    @include m.mediaMax(1200px) {
      @include mediaqueryActiveStyle;
    }
  }
  &--maxTablet {
    @include m.mediaMaxTablet {
      @include mediaqueryActiveStyle;
    }
  }
  &--maxSp {
    @include m.mediaMaxSp {
      @include mediaqueryActiveStyle;
    }
  }
  &--minWidth {
    @include m.mediaMin(1201px) {
      @include mediaqueryActiveStyle;
    }
  }
  &--minPc {
    @include m.mediaMinPc {
      @include mediaqueryActiveStyle;
    }
  }
  &--minTablet {
    @include m.mediaMinTablet {
      @include mediaqueryActiveStyle;
    }
  }
}

.imageList__item {
  margin-bottom: 30px;
}

.backgroundImage {
  width: 375px;
  height: 375px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @include m.mediaMaxSp {
    width: 100%;
  }
}