@charset "UTF-8";

@use "_partial/config/_variable" as v;

html {
	font-size: 62.5%;
}

body {
	color: v.$fontColor_primary;
	font-family: v.$fontFamilyJapanese_primary;
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 1.6;
	font-feature-settings: "palt";
	letter-spacing: 0.1em;
}

img, iframe {
	max-width: 100%;
}

a {
	color: #1a0dab;
}

