.mainContents {
  padding: 60px 30px;
}

.pageTitle {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 80px;
}

.section--level2 {
  margin-bottom: 80px;
}
.section--level3 {
  margin-bottom: 60px;
}
.section--level3:last-child {
  margin-bottom: 0px;
}
.section--level4 {
  background-color: #eeeeee;
  margin-bottom: 40px;
  padding: 20px;
}
.section--level4:last-child {
  margin-bottom: 0px;
}
.section__title--level2 {
  font-size: 3.6rem;
  border-bottom: 3px solid #dddddd;
  margin-bottom: 60px;
}
.section__title--level3 {
  font-size: 2.8rem;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 40px;
}
.section__title--level4 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.section__description, .section__code {
  color: #ffffff;
  background-color: #000000;
  word-break: break-all;
}
.section__description {
  font-size: 1.6rem;
  margin-bottom: 40px;
  padding: 30px;
}
.section__code {
  padding: 2px 4px;
}

.border {
  width: 300px;
  height: 50px;
  border-width: 1px 0px 4px 0px;
  border-style: solid;
  border-color: #000000;
}
.border--dotted {
  border-width: 1px 2px 0px 0px;
  border-style: dotted;
  border-color: #4a53bd;
}
.border--dashed {
  border-width: 0px 0px 3px 4px;
  border-style: dashed;
  border-color: #4a53bd;
}
@media (max-width: 767px) {
  .border {
    width: 100%;
  }
}

.flex--nowrap {
  display: flex;
}
.flex--wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex--justifyCenter {
  display: flex;
  justify-content: center;
}
.flex--alignCenter {
  display: flex;
  align-items: center;
}
.flex--alignCenter .flex__item:nth-child(1) {
  height: 100px;
}
.flex--alignCenter .flex__item:nth-child(3) {
  height: 200px;
}
.flex__item {
  width: 300px;
  height: 50px;
  background-color: #333333;
  margin: 0px 10px 10px 0px;
}

.hoverOpacity {
  color: #ffffff;
  border-radius: 100px;
  background-color: #4a53bd;
  padding: 10px 30px;
  transition-duration: 0.3s;
}
@media (min-width: 1025px) {
  .hoverOpacity:hover {
    opacity: 0.7;
  }
}
.hoverOpacity--duration {
  transition-duration: 1s;
}
@media (min-width: 1025px) {
  .hoverOpacity--duration:hover {
    opacity: 0.7;
  }
}
.hoverOpacity--opacity {
  transition-duration: 0.3s;
}
@media (min-width: 1025px) {
  .hoverOpacity--opacity:hover {
    opacity: 0.2;
  }
}

.mediaquery {
  width: 100%;
  border: 1px solid #333333;
  padding: 10px;
}
@media (max-width: 1200px) {
  .mediaquery--maxWidth {
    color: #ffffff;
    border-color: #4a53bd;
    background-color: #4a53bd;
  }
}
@media (max-width: 1024px) {
  .mediaquery--maxTablet {
    color: #ffffff;
    border-color: #4a53bd;
    background-color: #4a53bd;
  }
}
@media (max-width: 767px) {
  .mediaquery--maxSp {
    color: #ffffff;
    border-color: #4a53bd;
    background-color: #4a53bd;
  }
}
@media (min-width: 1201px) {
  .mediaquery--minWidth {
    color: #ffffff;
    border-color: #4a53bd;
    background-color: #4a53bd;
  }
}
@media (min-width: 1025px) {
  .mediaquery--minPc {
    color: #ffffff;
    border-color: #4a53bd;
    background-color: #4a53bd;
  }
}
@media (min-width: 768px) {
  .mediaquery--minTablet {
    color: #ffffff;
    border-color: #4a53bd;
    background-color: #4a53bd;
  }
}

.imageList__item {
  margin-bottom: 30px;
}

.backgroundImage {
  width: 375px;
  height: 375px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .backgroundImage {
    width: 100%;
  }
}
/*# sourceMappingURL=../maps/underlayer/example.css.map */
